<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Mining Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
            <li><a href="{{ url_for('show_algorithm', name='naive_bayes') }}">Naive Bayes</a></li>
            <li><a href="{{ url_for('show_algorithm', name='decision_tree') }}">Cây Quyết Định</a></li>
            <li><a href="{{ url_for('show_algorithm', name='kmeans') }}">K-Means</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
