{% macro select_columns(columns, selected_columns_name) %}
<div class="form-group">
    <label style="margin-bottom: 10px; display: block;">Chọn các cột sử dụng:</label>
    <div style="display: flex; flex-wrap: wrap; gap: 5px; align-items: center;">
        {% for column in columns %}
            <input type="checkbox" 
                   id="col_{{ column }}" 
                   name="{{ selected_columns_name }}" 
                   value="{{ column }}">
            <label for="col_{{ column }}" style="font-weight: normal; margin-left: 5px; margin-right: 15px; margin-top: 0px">{{ column }}</label>
        {% endfor %}
    </div>
</div>
{% endmacro %}



{% macro input_values(columns, unique_values) %}
    <div id="input_values">
        <label>Nhập dữ liệu cần phân lớp:<label>
        {% for column in columns %}
            <div id="values_{{ column }}" class="value-selection" style="display: none;">
                <label for="{{ column }}" style="font-weight: normal;">{{ column }}:</label>
                <select id="{{ column }}" name="input_values[{{ column }}]">
                    {% for value in unique_values[column] %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
